.app.dark {
  background-color: black;
  color: #fff;

  .home {
    background-color: black;
    color: #fff;
  }

  .navbar {
    color: #fff;
    background-color: #0000;

    .left {
      .Icon {
        color: #808088;
    }
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;
    color: #fff;

    .top {
      .logo {
        color: #fff;
      }
    }

    hr {
      border-color: #333;
    }
    .item {
      span {
        color: #fff;
      }
    }
  }
  .footer {
    background-color: black;
  }
}
