.app.dark {
  background-color: black;
  color: #fff;

  .home {
    background-color: black;
    color: #fff;

    .scrollbar {
      background-color: black;
      color: #fff;
    }
  }

  .navbar {
    color: #fff;
    background-color: #0000;

    .left {
      .Icon {
        color: #808088;
      }
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;
    color: #fff;

    .top {
      .logo {
        color: #fff;
      }
    }

    hr {
      border-color: #333;
    }

    .item {
      span {
        color: #fff;
      }
    }
  }

  .footer {
    background-color: black;
  }

  .product {

    .productItem {

      .listItem {

        li {
          background-color: rgb(69, 72, 72);

          &:hover {
            background-color: aliceblue;
            color: #111;
          }
        }
      }
    }
  }

  .review {
    .container {


      .reviewItems {

        li {
          &:hover {
            color: #111;
          }

          p {}
        }
      }
    }
    .delevTop {
      h1 {
        color: #fff;
      }
      img {
        color: #fff;
      }
    }
  }

  .phone {
    background-color: black;
    color: #fff;

    .phone-container {

      .phoneItems {

        .Items {

          li {
            background-color: rgb(69, 72, 72);
            &:hover {
              background-color: aliceblue;
              color: #111;
            }

          }



        }


      }
    }
  }
}